<button onclick="blog.open_form();">Добавить</button>
{% if categories and categories|length > 0 %}
        <table class="datalist">
                <thead>
                        <tr>
                                <td>#</td>
                                <td>Название</td>
                                <td>Описание</td>
                                <td>&nbsp;</td>
                        </tr>
                </thead>
                <tbody>
                        {% for curr in categories %}
                                <tr>
                                        <td>{{ curr.id }}</td>
                                        <td>{{ curr.name }}</td>
                                        <td>{{ curr.descr }}</td>
                                        <td>
                                                <i class="fa fa-eye"></i>
                                                <i class="fa fa-edit" onclick="blog.open_form({{ curr.id }});"></i>
                                                <i class="fa fa-trash"></i>
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
{% else %}
        <h4>Тут пока пусто...</h4>
{% endif %}