<div class="table">
        <div class="submenu">
                <span>submenu</span>
                <span>submenu</span>
                <span>submenu</span>
        </div>
        <div class="content">

        </div>
</div>