<div class="table">
        <div class="submenu">
                <span onclick="category.show(this);">Категории</span>
                <span onclick="posts.show(this);">Посты</span>
                <span onclick="comments.show(this);">Комментарии</span>
        </div>
        <div class="content">
        </div>
</div>