<div class="table">
        <div class="submenu">
                <span onclick="blog.showCategories(this);">Категории</span>
                <span onclick="blog.showPosts(this);">Посты</span>
                <span onclick="blog.showComments(this);">Комментарии</span>
        </div>
        <div class="content">
        </div>
</div>