<div class="modal_close_but">+</div>
<div class="modal_header">{% if data and data.id %}Редактирование записи{% else %}Новая запись{% endif %}</div>
<div class="modal_inputs">
        <input type="hidden" formdata="curr_id" value="{% if data.id %}{{ data.id }}{% endif %}">
        <label class="inputs_cont">
                <span>Название<font class="required">*</font></span>
                <input type="text" formdata="name" data-required="required" value="{% if data.name %}{{ data.name }}{% endif %}">
        </label>
        <label class="inputs_cont">
                <span>Содержание</span>
                <textarea formdata="post_content" class="post_content">{% if data.post_content %}{{ data.post_content }}{% endif %}</textarea>
        </label>
</div>
<button onclick="category.save(this);">Сохранить</button>