<div class="modal_close_but">+</div>
<div class="modal_header">{% if data and data.id %}Редактирование пользователя{% else %}Новый пользователь{% endif %}</div>
<div class="modal_inputs">
        <input type="hidden" formdata="curr_id" value="{% if data.id %}{{ data.id }}{% endif %}">
        <label class="inputs_cont">
                <span>Логин<font class="required">*</font></span>
                <input type="text" formdata="login" disabled="disabled" data-required="required" value="{% if data.login %}{{ data.login }}{% endif %}">
        </label>
        <label class="inputs_cont">
                <span>Email<font class="required">*</font></span>
                <input type="text" formdata="email" data-required="required" value="{% if data.settings.email %}{{ data.settings.email }}{% endif %}">
        </label>
        <label class="inputs_cont">
                <span>Имя</span>
                <input type="text" formdata="name" data-required="required" value="{% if data.settings.name %}{{ data.settings.name }}{% endif %}">
        </label>
</div>
<button onclick="users.save(this);">Сохранить</button>