<div class="table">
        <div class="submenu">
                <span class="active">Список</span>
        </div>
        <div class="content">
                {% include 'admin/users/users.twig' %}
        </div>
</div>