.header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #222d4b;
        height: 70px;
}
.header .table>div {
        display: table-cell;
}
.header .menu a {
        color: #a9b7df;
        line-height: 70px;
        display: inline-block;
        cursor: pointer;
}
.header .menu a:hover {
        color: #fff;
}
.header .menu a.active {
        color: #fff;
        cursor: default;
}