.header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
        box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
}
.header .table>div {
        display: table-cell;
        vertical-align: top;
}
.header .menu a {
        color: rgba(0, 0, 0, 0.5);
        line-height: 70px;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        padding: 0 20px;
        font-size: 16px;
}
.header .menu a:hover {
        color: rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.15);
}
.header .menu a.active {
        color: rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.15);
        cursor: default;
}

.header .menu_but {
        display: none!important;
}

.header .logo>span {
        display: block;
        color: #fff;
}
.header .right_controls {
        font-size: 0;
        text-align: right;
}

.header .right_controls>div {
        display: inline-block;
        text-align: center;
        position: relative;
        vertical-align: middle;
}

.header .right_controls i {
        display: block;
        cursor: pointer;
        font-size: 20px;
        line-height: 70px;
        padding: 0 20px;
        color: rgba(0, 0, 0, 0.5);
}

.header .right_controls i:hover {
        background: rgba(0, 0, 0, 0.15);
        color: rgba(0, 0, 0, 0.8);
}

.header .menu .nav {
        font-size: 0;
}