* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .wrap {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #fff;
}
.copyright {
    width: auto;
}
.img_elem_show {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    width: 19%;
    padding-top: 19%;
    margin: 0.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0s ease-in;
    z-index: 2;
    box-sizing: border-box;
    font-size: 0;
}
.imgs_elem_cont {
    font-size: 0;
    margin: 0;
    padding: 0;
}