<div class="add_comment"{% if main_comment_field %} comment_filed="main"{% endif %}>
        {% if userdata.id and userdata.id %}
                <input type="hidden" comment_data="parentId" value="{% if comment.parent_id %}{{ comment.parent_id }}{% endif %}"> {# current comment id - answer to other comment #}
                <input type="hidden" comment_data="curr_id" value="{% if comment.id %}{{ comment.id }}{% endif %}"> {# current comment id #}
                <textarea placeholder="Оставьте комментарий:" comment_data="txt">{% if comment.message %}{{ comment.message }}{% endif %}</textarea>
                <div class="buttons_cont">
                        {% if not main_comment_field %}
                                <button class="cancel" type="button" onclick="comments.removeForm(this.parentNode.parentNode);">Отмена</button>
                        {% endif %}
                        {% if comment.id %}
                                <button type="button" onclick="comments.save(this.parentNode.parentNode);">Изменить комментарий</button>
                        {% else %}
                                <button type="button" onclick="comments.save(this.parentNode.parentNode);">Оставить комментарий</button>
                        {% endif %}
                </div>
        {% else %}
                <div class="comment_need_auth">
                        <span>Войдите, чтобы оставить комментарий</span>
                </div>
        {% endif %}        
</div>