<div class="add_comment">
        {% if userdata.id and userdata.id %}
                <input type="hidden" data_userid="{{ userdata.id }}">
                <textarea placeholder="Комментарий:"></textarea>
                <button type="button">Оставить комментарий</button>
        {% else %}
                <div class="comment_need_auth">
                        <span>Войдите, чтобы оставить комментарий</span>
                </div>
        {% endif %}        
</div>