.main_content .right_column {
    width: 75%;
    overflow-x: hidden;
}

.main_content .left_column {
    padding-left: 30px;
}

.main_content h3 {
    display: block;
    width: 100%;
    border-bottom: solid 1px #000;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.main_content .left_column .box {
    margin-bottom: 30px;
}

.main_content {
    margin-top: 50px;
}

.record_box {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    vertical-align: top;
    position: relative;
}

.records_cont_results {
    font-size: 0;
    margin: 40px 0;
}

.record_preview_img {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.record_preview_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    padding: 20px;
}

.record_preview_img span {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.record_preview_img span a {
    font-size: 20px;
}

.record_preview_img font {
    display: block;
    font-size: 14px;
}

.record_preview_subcont {
    position: relative;
    padding: 8px 16px 40px;
    min-height: 189px;
}

.record_preview_subcont a.link_to_record {
    display: block;
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 0;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.55) !important;
    border-top: solid 1px #bbbbbb;
}

.record_preview_subcont a.link_to_record:hover {
    color: rgba(0, 0, 0, 0.8) !important;
}

.record_preview_subcont .keyskills {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0;
    border-top: solid 1px #bbbbbb;
    padding-top: 8px;
    height: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.record_preview_subcont .ages {
    margin: 8px 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.record_preview_subcont .address .link {
    display: block;
    border-bottom: none;
    height: auto;
    color: #009b8e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog_view_header {
    width: 100%;
    padding-bottom: 35%;
    margin-bottom: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2 {
    display: block;
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    margin: 50px 0;
    font-weight: 700;
}

.bvh_shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
}

.bvh_data {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    z-index: 2;
}

.bvh_username {
    font-size: 28px;
    letter-spacing: 1.5px;
    margin-left: 20%;
}

.bvh_userphoto {
    position: absolute;
    z-index: 3;
    width: 16%;
    padding-bottom: 16%;
    bottom: 0;
    margin-bottom: -8%;
    left: 0;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: #dadada;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bvh_data .cont {
    padding: 40px 0;
}

.bvh_user_nav {
    position: absolute;
    z-index: 2;
    top: 100%;
    color: rgba(0, 0, 0, 0.55);
    margin-top: 40px;
    left: 20%;
    right: 0;
}

.bvh_user_nav>a {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: solid 2px #fff;
    margin-right: 2%;
    cursor: pointer;
    vertical-align: top;
}

.bvh_user_nav>a:hover {
    color: #000;
    border-bottom: solid 2px #000;
}

.post_view_container {
    margin-bottom: 10%;
}

.posts_cont_results {
    margin: 5% 0;
    font-size: 0;
    width: 102%;
}