<div class="header">
        <div class="cont table">
                <div class="menu_but" onclick="menu_action('open');"><i class="fa fa-bars"></i></div>
                <div class="menu">
                        <div class="nav">
                                <a href="/">Главная</a>
                                <span onclick="admin_blog.show(this);">Блог</span>
                                <span onclick="admin_shop.show(this);">Магазин</span>
                                <span onclick="admin_users.show(this);">Пользователи</span>
                        </div>
                </div>
                <div class="right_controls">
                        {#
                        <div class="search">
                                <div class="search_cont"></div>
                                <i class="fa fa-search"></i>
                        </div>
                        #}
                        <div class="userdata">
                                <i class="fa fa-sign-in"></i>
                                <div class="userinfo">
                                </div>
                        </div>
                </div>
        </div>
</div>