<!DOCTYPE html>
<html>
    <head>
	<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% block title %}{% endblock %} - Pilot Pi</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic" rel="stylesheet">
	<link href='/css/admin/style.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	{% block styles %}
	{% endblock %}
	{% block scripts %}
	{% endblock %}
	<script>
		var login = {
		    api_url_create: '/checklogin',
		    api_url_info: '',
		    arr: [],
		    tagname: "login_data",
		    check: function () {
			this.send('POST', this.create_reqdata(this.tagname), this.api_url_create);
		    },
		    create_reqdata: function (tagname) {
			var form = new FormData();

			var arr = document.querySelectorAll('[' + tagname + ']');
			for (var x = 0; x < arr.length; x++) {
			    form.append(arr[x].getAttribute(tagname), (arr[x].getAttribute('type') && arr[x].getAttribute('type') === 'file' ? arr[x].file[0] : arr[x].value));
			    arr[x].value = '';
			}

			return form;
		    },
		    send: function (method, form, backend) {
			var self = this;
			var xhr = new XMLHttpRequest();
			xhr.open(method, backend, true);
			xhr.onload = xhr.onerror = function () {
			    if (Number(this.status) === 200) {
				var data = JSON.parse(this.responseText);
				if (data[0] === false) {
				    alert('error answer');
				    return false;
				}
			    } else {
				console.log("error " + this.status);
				alert('error request: ' + this.status);
			    }

			    self.send_after(data.content);
			};
			xhr.send(form);
		    },
		    send_after: function (data) {
			if (data === 'success') {
			    createCookie('_pilotpi_id_v', '111', 365);
			    location.href = "/admin/lk";
			    return;
			}
		    }
		};
		function createCookie(name, value, days) {
		    var expires = "";
		    if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			expires = "; expires=" + date.toUTCString();
		    }
		    document.cookie = name + "=" + value + expires + "; path=/";
		}
	</script>
    </head>
    <body>
	<div class="wrapper">
	    <div class="container">
		<div class="login_cont">
		    <div class="inputs_cont"><span>Логин</span><input type="text" login_data="login"></div>
		    <div class="inputs_cont"><span>Пароль</span><input type="password" login_data="pass"></div>
		    <button type="button" onclick="login.check();">Войти</button>
		</div>
	    </div>
	    <div class="footer"></div>
	</div>
	<div class="shadow" onclick="menu_action('close');"></div>
    </body>
</html>