{% extends "base.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block container %}
        {% include 'admin/header.twig' %}
        <div class="cont admin_content"></div>
{% endblock %}

{% block styles %}
        <link href='/css/admin/base.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
        <script src="/js/admin/main.js?1" charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=e7x7zk635m3yq3kf455olw89p5gr9yf9mie9tx32keeye1ao"></script>
        
        <script src="/js/admin/blog.js?1" charset="utf-8"></script>
        <script src="/js/admin/shop.js?1" charset="utf-8"></script>
        <script src="/js/admin/users.js?1" charset="utf-8"></script>
{% endblock %}