.submenu {
        display: table-cell;
        width: 20%;
        padding-top: 50px;
        vertical-align: top;
}

.content {
        display: table-cell;
        vertical-align: top;
        padding: 20px 16px;
}

.submenu span {
        display: block;
        padding: 8px 16px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 14px;
}

.submenu span:hover {
        color: rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.15);
}

.submenu span.active {
        color: rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.15);
        cursor: pointer;
}

.datalist {
        width: 100%;
        border-spacing: 0;
}

.datalist td {
        padding: 10px;
        text-align: left;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.8);
}

.datalist tbody tr:hover {
        background: rgba(0, 0, 0, 0.1);
}