* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .wrap {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #fff;
}

body *:not(i) {
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.wrapper {
    height: 100%;
    overflow: auto;
}

.container {
    min-height: 100%;
    padding: 50px;
    padding-bottom: 55px;
}

.cont {
    position: relative;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 70;
    background: #000;
    opacity: 0;
    display: none;
    cursor: pointer;
}

.shadow.active {
    display: block;
}

button.add_button{
    display: block;
    margin: 20px auto!important;
    width: auto;
}

.blog_preview {
    display: block;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #d0d0cf;
    margin-bottom: 20px;
}

.elem_controls {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.elem_controls span {
    margin-left: 20px;
    cursor: pointer;
    color: #b7b7b7;
}

.elem_controls span:hover {
    color: #000;
}

.header {
    position: relative;
    clear: both;
}

.menu_but {
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.menu_but i {
    line-height: 20px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.loader i {
    display: inline-block;
    font-size: 28px;
    color: #fff;
    vertical-align: middle;
}

.logo {
    height: auto;
    width: 250px;
    float: left;
    vertical-align: middle;
}

.logo img {
    width: 100%;
    height: auto;
}

.right {
    text-align: right;
    vertical-align: middle;
}

.links {
    margin-bottom: 15px;
}

.links a {
    text-decoration: none;
    color: #bebebe;
    margin-left: 20px;
}

.links a:hover {
    color: #9e9e9e;
}

.links a i {
    transition-duration: 0s;
}

.nav {
    font-size: 0px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav span {
    display: inline-block;
    position: relative;
    right: -15px;
    padding: 5px 15px;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
}

.nav span.active, .nav span:hover {
    background: #000;
    color: #fff;
}

.nav span.active {
    cursor: default;
}

.m_nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 5px 0 #000;
    overflow: hidden;
    width: 0px;
    z-index: 99;
}

.m_nav.active {
    width: 320px;
}

.m_nav .nav {
    white-space: normal;
}

.m_nav .nav span {
    display: block;
    right: 0;
    padding: 10px 0 10px 44px;
    margin: 0;
}

.m_nav .links {
    margin-top: 46px;
    margin-bottom: 25px;
    text-align: right;
    padding-right: 30px;
    position: relative;
    width: 320px;
}

.menu_but {
    position: absolute;
    top: 14px;
    left: 0;
    width: 28px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
    display: none;
}

.m_nav .menu_but {
    width: 20px;
    overflow: hidden;
    left: 44px;
    top: 44px;
    z-index: 1;
}

.m_nav .menu_but i {
    display: inline-block;
    width: 3px;
    overflow: hidden;
    line-height: 28px;
}

.footer {
    background: #000000;
    color: #fff;
    min-height: 55px;
    margin-top: -55px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #303845;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}

.submenu {
    margin: 30px 0;
    text-align: center;
    font-size: 0px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

.submenu span {
    display: inline-block;
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.submenu span.active, .submenu span:hover {
    background: #000;
    color: #fff;
}

.submenu span.active {
    cursor: default;
}

.video_elem {
    width: 100%;
    padding-top: 44.25%;
    background-image: url('img/video_temp.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 30px;
}

.contacts {
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

.contacts div {
    margin: 20px 0;
}

.imgs_list {
    width: 100%;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
}

.imgs_block {
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    width: 49.5%;
    margin-right: 1%;
}

.imgs_row {
    white-space: nowrap;
    width: 100%;
    font-size: 0;
    overflow: hidden;
}

.imgs_row div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    width: 32%;
    padding-top: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.imgs_galery.video .imgs_row div {
    background-image: url('img/video_temp.png');
}

.main_img {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.w_66 {
    width: 66%!important;
}

span.loader {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/ajax-loader.gif');
    z-index: -1;
}

.helper {
    display: inline-block;
    height: 100%;
    width: 1px;
    background: transparent;
    vertical-align: middle;
}

.inputs_cont {
    display: block;
    position: relative;
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
    border: solid 1px #f1f1f1;
    margin: 5px 0px;
    color: #64656e;
}

.inputs_cont span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.inputs_cont input {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    color: #64656e;
    border: none;
    margin: 10px 0px 4px;
    outline: none;
}

.nav_content_block {
    margin-top: 40px;
    display: none;
}

.nav_content_block.active {
    display: block;
}

h4 {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 10px 20px;
    position: relative;
}

h4 span {
    display: block;
    float: right;
    cursor: pointer;
    font-weight: 300;
}

/*
.loader {
        display: inline-block;
        font-size: 14px;
        color: #fff;
}

.loader i {
        display: block;
        font-size: 28px;
}
*/

.inputs_cont .add_elem_button {
    position: absolute;
    display: block;
    top: 24px;
    right: 14px;
    height: 28px;
    width: 28px;
    line-height: 20px;
    background: #000000;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.imgs_elem_cont {
    font-size: 0;
}

.img_elem_show {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    width: 19%;
    padding-top: 19%;
    margin: 0.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0s ease-in;
    z-index: 2;
}

.modal_cont {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    z-index: 9999;
    text-align: center;
}

.modal_shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    width: 1px;
    background: transparent;
    vertical-align: middle;
}

.modal_img_view {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.modal_content {
    display: inline-block;
    width: 465px;
    background: #fff;
    vertical-align: middle;
    position: relative;
    padding: 70px 50px 60px;
    box-sizing: border-box;
    text-align: left;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal_content.big {
    width: 90%;
}

.modal_content.big .modal_inputs label {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
}


.modal_header {
    margin-bottom: 30px;
}

.modal_header div {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.modal_header span {
    color: #777777;
    font-size: 12px;
}

.modal_inputs {
}

.modal_inputs label {
    display: block;
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    margin: 5px 0px;
    color: #64656e;
}

.modal_inputs span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.modal_inputs input {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    color: #64656e;
    border: none;
    margin: 10px 0px 4px;
    outline: none;
}

.modal_inputs input::-webkit-input-placeholder {color:#b4bcc2;}
.modal_inputs input::-moz-placeholder          {color:#b4bcc2;}/* Firefox 19+ */
.modal_inputs input:-moz-placeholder           {color:#b4bcc2;}/* Firefox 18- */
.modal_inputs input:-ms-input-placeholder      {color:#b4bcc2;}

.modal_close_but {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 55px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    transform: rotate(45deg);
}

.modal_close_but i {
    line-height: 20px;
    vertical-align: top;
}

button.modal_button {
    font-family: 'MyriadProRegular';
    display: block;
    font-size: 20px;
    color: #fff;
    background: #26b7aa;
    border: none;
    width: 100%;
    line-height: 70px;
    border-radius: 5px;
    margin: 30px 0;
    text-transform: uppercase;
    cursor: pointer;
}

button.modal_button.small {
    font-family: 'MyriadProRegular';
    display: block;
    font-size: 18px;
    color: #fff;
    background: #26b7aa;
    border: none;
    width: auto;
    padding: 0 50px;
    line-height: 50px;
    border-radius: 5px;
    margin: 30px auto;
    text-transform: uppercase;
    cursor: pointer;
}

button.modal_button:hover {
    background: #009688;
}

.form_data_group {
    box-sizing: border-box;
    padding: 12px 14px;
    border: solid 1px #f1f1f1;
    margin: 5px 0px;
}
.form_data_group label {
    border: none;
    border-bottom: solid 1px #f1f1f1;
    margin: 5px 14px;
    padding: 12px 0px;
    width: auto;
}

.filters_cont {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    z-index: 99;
    padding-top: 20px;
    overflow: auto;
    text-align: left;
}

.filters_cont div {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0 20px 20px;
}

.filters_cont h7 {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.filters_cont span {
    display: block;
    margin-bottom: 10px;
}

.filters_cont .buttons_cont {
    display: block;
    text-align: right;
}

.filters_cont .buttons_cont button {
    font-family: 'MyriadProRegular';
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #26b7aa;
    border: none;
    width: auto;
    padding: 0 50px;
    line-height: 50px;
    border-radius: 5px;
    margin: 30px auto;
    text-transform: uppercase;
    cursor: pointer;
}

.filters_cont .buttons_cont button:hover {
    background: #009688;
}

.filters_cont .buttons_cont button[b_type="cancel"] {
    color: #26b7aa;
    background: #fff;
    margin-right: 20px;
}

.filters_cont .buttons_cont button[b_type="cancel"]:hover {
    background: #c1c1c1;
    color: #ffffff;
}

.filters_selected span {
    cursor: pointer;
    border-bottom: solid 1px;
    display: inline-block;
}

button {
    margin-right: 15px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]::before {
    content: ' ';
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url(img/checkbox/off.png) no-repeat center;
}

input[type="checkbox"]:checked:before {
    background: url('img/checkbox/on.png') no-repeat center;
}

.filters_selected font {
    display: inline-block;
    font-size: 12px;
    color: #000;
    padding: 3px 10px;
    margin: 5px;
    background: #eaeaea;
    border-radius: 3px;
}

/* file loading elem */
.img_elem {
    min-height: 102px;
    position: relative;
    background: #f7f7f7;
    padding: 12px 14px 0;
}

.img_elem input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    height: 100px;
    right: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.img_elem .titles {
    display: none;
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    z-index: 1;
    background: #f7f7f7;
    text-align: center;
}

.img_elem span {
    position: relative;
    z-index: 2;
}

.img_elem .titles div {
    display: inline-block;
    vertical-align: middle;
}

.img_elem .titles.img_upload_main {
    display: initial;
}

.img_elem .img_upload_preview {
    display: block;
    margin-top: 71px;
}

.img_elem .img_upload_preview img {
    display: inline-block;
    width: 18%;
    margin: 1%;
    vertical-align: middle;
}

.img_elem:hover .titles.img_upload_main {
    background: #fff;
}

.img_elem.loading .titles.img_upload_load {
    display: initial;
}

.img_elem.success .titles.img_upload_success {
    display: initial;
}

.hint_but {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50%;
    border: solid 1px #d0d0cf;
    text-align: center;
    cursor: pointer;
}

.hint {
    position: absolute;
    z-index: 999;
    top: 10px;
    box-sizing: border-box;
    left: 25px;
    background: #fff;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    text-align: left;
    cursor: default;
}

.combobox .droplist {
    position: absolute;
    top: 100%;
    margin-top: -16px;
    right: 14px;
    left: 14px;
    background: #fff;
    z-index: 4;
    padding: 0px;
    max-height: 0px;
    overflow: hidden;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
}

.combobox input[combobox="input"] {
    position: relative;
    z-index: 5;
}

.combobox .select_arrow {
    z-index: 5!important;
}

.combobox .droplist.active {
    max-height: 250px;
    overflow: auto;
}

.combobox .droplist div {
    padding: 0 10px;
    margin: 7px 0;
    cursor: pointer;
}

.combobox .droplist div:hover {
    background: #fafafa;
}

.combobox .selected_list font {
    display: inline-block;
    font-size: 12px;
    color: #000;
    padding: 3px 10px;
    margin: 5px;
    background: #eaeaea;
    border-radius: 3px;
}

.video_cont div {
    width: 19%;
    height: 140px;
    margin: 0.5%;
    display: inline-block;
}

.video_cont {
    font-size: 0;
}

.login_cont {
    width: 80%;
    max-width: 500px;
    margin: 70px auto;
}

.login_cont button {
    display: block;
    font-size: 18px;
    color: #fff;
    background: #000000;
    border: none;
    width: 100%;
    line-height: 50px;
    border-radius: 5px;
    margin: 30px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.inwidet_cont {
    position: absolute;
    top: 150px;
    width: 100%;
    bottom: 55px;
    left: 0;
}

.inwidet_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

.imgs_list_modal div {
    position: relative;
    display: inline-block;
    width: 9%;
    margin-left: 1%;
    margin-bottom: 1%;
    padding-bottom: 9%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: top;
    transition-duration: 0s;
}

.imgs_list_modal div.head_img {
    box-shadow: 0 0 5px 3px #028a00;
}

.img_preview_container {
    display: inline-block;
    vertical-align: middle;
    width: 95%;
    height: 95%;
    background: #fff;
    font-size: 0;
    text-align: left;
    white-space: nowrap;
}

.img_preview_cont {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    background: #272727;
    text-align: center;
}

.img_preview_txt {
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    position: relative;
    padding: 12px;
    padding-top: 40px;
}

.img_preview_close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    color: #585858;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.img_preview_close:hover {
    color: #272727;
}

.img_preview_title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: solid 1px #272727;
    margin-bottom: 20px;
}

.img_preview_descr {
    font-size: 16px;
}

.img_preview_txt input {
    display: inline-block;
    width: 100%;
    padding: 12px 8px;
    border: solid 1px #d0d0cf;
}

.img_preview_txt textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #d0d0cf;
}

.last_upd {
    font-size: 14px;
    color: #797979;
}

.img_preview_to_mail {
    font-size: 14px;
    margin-bottom: 20px;
}

.img_preview_to_mail input {
    position: relative;
    display: inline-block;
    width: 20px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

@media only screen and (min-width: 1300px){
}

@media only screen and (max-width: 1200px){
    .nav span {
	margin-left: 15px;
    }
}

@media only screen and (max-width: 1000px){
    .nav span {
	right: -10px;
	padding: 5px 10px;
	margin-left: 5px;
    }
}

@media only screen and (max-width: 900px){
    .container {
	padding: 30px;
	padding-bottom: 55px;
    }

    .logo {
	width: 200px;
    }

    .links {
	margin-bottom: 10px;
    }

    .nav span {
	display: inline-block;
	position: relative;
	right: -10px;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 16px;
    }
}

@media only screen and (max-width: 768px){

    .container {
	padding: 30px 10px 55px;
    }

    .m_nav .menu_but {
	left: 25px;
    }

    .m_nav .nav span {
	padding: 10px 0 10px 25px;
    }

    .right {
	display: none;
    }

    .logo {
	float: none;
	margin: 0 auto;
    }

    .menu_but {
	display:block;
    }

    .submenu span {
	font-size: 16px;
	padding: 5px 10px;
	margin: 0 5px;
    }

    h2 {
	font-size: 22px;
    }

    .imgs_block {
	width: 100%;
	display: block;
    }

    .contacts {
	font-size: 14px;
    }

    .img_preview_cont {
	display: block;
	height: 100%;
	width: 100%;
    }

    .img_preview_txt {
	display: block;
	width: 100%;
	height: auto;

    }

    .img_preview_container {
	overflow: auto;
    }
}

@media only screen and (max-width: 600px){

    .container {
	padding: 30px 5px 55px;
    }

    .m_nav .menu_but {
	left: 20px;
    }

    .m_nav .nav span {
	padding: 10px 0 10px 20px;
    }

    .submenu span {
	font-size: 12px;
	padding: 3px 5px;
	margin: 0 1px;
    }
}

@media only screen and (max-width: 480px){
}

@media only screen and (max-width: 420px){
    .submenu span {
	font-size: 12px;
	padding: 3px 2px;
	margin: 0 1px;
    }
}