<div class="modal_close_but">+</div>
<div class="modal_header">Пользовательские изображения</div>
<div class="modal_inputs">
	{{ dump('imgs') }}
</div>
{#<button onclick="users.save(this);">Сохранить</button>#}