{% extends "base.twig" %}

{% block title %}Блог{% endblock %}

{% block container %}
        <div class="blog_curr_content">
        {% if blog and blog.txt %}
                {{ blog.txt|raw }}
        {% else %}
                <div style="text-align: center;">Жаль, но такой страницы нет</div>
        {% endif %}
        </div>
{% endblock %}