<div class="header">
    <div class="cont table">
        <div class="menu_but" onclick="menu_action('open');"><i class="fa fa-bars"></i></div>
        <div class="logo" title="На главную">
            <a href="/">
                evtifeev
                <font>{{ site_section }}</font>
            </a>
        </div>
        <div class="menu">
            <div class="nav">
                {#<a{% if nav_current == "home" %} class="active"{% else %} href="/"{% endif %}>Главная</a>#}
                <a{% if nav_current == "categories" %} class="active"{% else %} href="/"{% endif %}>Статьи</a>
                <a{% if nav_current == "authors" %} class="active"{% else %} href="/"{% endif %}>Авторы</a>
                <a{% if nav_current == "shop" %} class="active"{% else %} href="/shop"{% endif %}>Магазин</a>
            </div>
        </div>
        <div class="right_controls">
            <div class="search">
                <div class="search_cont"></div>
                <i class="fa fa-search"></i>
            </div>
            {% if user %}
                <div class="userdata">
                    <div class="userinfo">{{ user.settings.name }}</div>
                    <a href="/login" class="log_button">
                        <i onclick="" class="fa fa-sign-out"></i>
                    </a>
                </div>
            {% else %}
                <div class="userdata">
                    {% if not (site_section == 'login' or site_section == 'registration') %}
                        <div class="userinfo"></div>
                        <a href="javascript:void(0)" onclick="login.show();" class="log_button">
                            <i class="fa fa-sign-in"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>