<div class="login_cont">
	<div class="inputs_cont"><span>Логин</span><input type="text" login_data="login"></div>
	<div class="inputs_cont"><span>Пароль</span><input type="password" login_data="pass"></div>
	<button type="button" onclick="login.check(this);">Войти</button>
</div>