{% extends "base.twig" %}

{% block title %}Главная{% endblock %}

{% block container %}
	<div class="cont">
		{% include 'header.twig' %}
		{% include 'login_form.twig' %}
	</div>
{% endblock %}

{% block styles %}
	{#<link href='/css/blog/main.css' rel='stylesheet' type='text/css'>#}
{% endblock %}
{% block scripts %}
	<script async type="text/javascript" src="/js/main.js"></script>
{% endblock %}