<div class="login_cont">
    <h2>Вход в аккаунт</h2>
    <div class="inputs_cont"><span>Логин</span><input type="text" login_data="login"></div>
    <div class="inputs_cont"><span>Пароль</span><input type="password" login_data="pass"></div>
    <button type="button" onclick="login.check(this);">Войти</button>
    <div class="login_link">Нет своего кабинета? <a login_data="reg_switch" href="/reg">Регистрируйтесь</a></div>
</div>