{% extends "base.twig" %}

{% block title %}Главная{% endblock %}

{% block container %}
        <div class="records_cont_results cont">
        {% include 'blog/list.twig' with records %}
        </div>
{% endblock %}

{% block styles %}
        <link href='/css/blog/main.css' rel='stylesheet' type='text/css'>
{% endblock %}