<div class="login_cont">
    <h3>Регистрация аккаунта</h3>
    <div class="inputs_cont"><span>Имя</span><input type="text" reg_data="name"></div>
    <div class="inputs_cont"><span>Email</span><input type="text" reg_data="email"></div>
    <div class="inputs_cont"><span>Пароль</span><input type="password" reg_data="pass"></div>
    <button type="button" onclick="regclient.check(this);">Регистрация</button>
    <div class="login_link">Уже есть свой кабинет? <a href="/login">Входите</a></div>
</div>